/* style.css */
body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #094163; 
    font-family: Arial, sans-serif; 
  }
  
  .calculator {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    grid-gap: 7px;
    background-color: #524c4c;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  button {
    padding: 15px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    background-color: #e0e0e0;
    transition: background-color 0.3s, transform 0.1s;
  }
  
  button:hover {
    background-color: #d0d0d0;
  }
  
  button:active {
    transform: scale(0.95);
  }
  
  #inhalt, #werte {
    grid-column: span 4; /* Nimmt alle 4 Spalten ein */
    text-align: center;
    background-color: #f8f8f8;
    font-size: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  